---
import type { GetStaticPathsOptions, Page } from 'astro';
import { type CollectionEntry, getCollection } from 'astro:content';
import Pagination from '../../../components/Pagination.astro';
import PostPreview from '../../../components/PostPreview.astro';
import Subscribe from '../../../components/Subscribe.astro';
import siteConfig from '../../../data/site-config';
import BaseLayout from '../../../layouts/BaseLayout.astro';
import { getAllTags, getPostsByTag, sortItemsByDateDesc } from '../../../utils/data-utils';

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
    const posts = (await getCollection('blog')).sort(sortItemsByDateDesc);
    const tags = getAllTags(posts);

    return tags.flatMap((tag) => {
        const filteredPosts = getPostsByTag(posts, tag.id);
        return paginate(filteredPosts, {
            params: { id: tag.id },
            pageSize: siteConfig.postsPerPage || 4
        });
    });
}

type Props = { page: Page<CollectionEntry<'blog'>> };

const { page } = Astro.props;
const blog = page.data;
const params = Astro.params;
const allPosts = await getCollection('blog');
const allTags = getAllTags(allPosts);
const currentTag = allTags.find((tag) => {
    return tag.id === params.id;
});
---

<BaseLayout
    title={`标签索引：${currentTag?.name}`}
    description={`探索所有关于 ${currentTag?.name} 标签下的文章与随笔`}
    image={{ src: '/dante-preview.jpg', alt: 'The preview of the site' }}
    showHeader={false}
>
    <div class="mb-12 sm:mb-16">
        <div class="text-sm font-medium text-main/50 mb-4 tracking-widest uppercase flex items-center gap-2">
            <span>标签归档</span>
            <span class="w-8 h-[1px] bg-main/20"></span>
        </div>
        <h1 class="text-3xl leading-tight font-serif font-bold sm:text-4xl text-main">
            {currentTag?.name}
        </h1>
    </div>
    {blog.map((post) => <PostPreview post={post} class="mb-10 sm:mb-12" />)}
    <Pagination page={page} class="my-16 sm:my-24" />
    <Subscribe class="my-16 sm:my-24" />
</BaseLayout>
