---
import { type CollectionEntry } from 'astro:content';
import ArrowRight from '../icons/ArrowRight.astro';
import FormattedDate from './FormattedDate.astro';

type Props = { post: CollectionEntry<'blog'>; class?: string; headingLevel?: 'h2' | 'h3' };

const { post, class: className, headingLevel = 'h2' } = Astro.props;
const { title, publishDate, updatedDate, excerpt } = post.data;
const TitleTag = headingLevel;
---

<a
    class:list={['flex justify-between items-start gap-8 group pb-6 border-b border-dashed border-main/20 hover:border-main/50 transition-colors', className]}
    href={`/blog/${post.id}/`}
>
    <div class="grow">
        <TitleTag class="text-xl leading-tight font-serif font-medium group-hover:text-gray-600 dark:group-hover:text-gray-300 transition-colors sm:text-2xl">
            {title}
        </TitleTag>
        <div class="mt-2 text-sm text-main/60 leading-normal">
            <FormattedDate date={publishDate} />
            {
                updatedDate && (
                    <>
                        {' '}
                        <span>
                            (更新于 <FormattedDate date={updatedDate} />)
                        </span>
                    </>
                )
            }
        </div>
        {excerpt && <div class="mt-4 text-sm text-main/80 leading-relaxed max-w-2xl">{excerpt}</div>}
    </div>
    <div class="hidden font-serif opacity-0 transition group-hover:opacity-100 sm:inline-flex sm:gap-1 sm:items-center sm:shrink-0 text-main/70">
        阅读文章 <ArrowRight class="fill-current w-4 h-4 ml-1" />
    </div>
</a>
